<ion-header>
  <ion-toolbar>
    <ion-title>
      Ejercicios básicos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col size="12">
      <ion-button shape="round" href="/ejercicio01" routerDirection="forward" expand="full">Ejercicio 1</ion-button>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button shape="round" href="/ejercicio02" routerDirection="forward" expand="full">Ejercicio 2</ion-button>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button shape="round" href="/ejercicio03" routerDirection="forward" expand="full">Ejercicio 3</ion-button>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button shape="round" href="/ejercicio04" routerDirection="forward" expand="full">Ejercicio 4</ion-button>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button shape="round" href="/ejercicio05" routerDirection="forward" expand="full">Ejercicio 5</ion-button>
    </ion-col>

  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button shape="round" href="/ejercicio06" routerDirection="forward" expand="full">Ejercicio 6</ion-button>
    </ion-col>

  </ion-row>

  <ion-row>
      <ion-col size="12">
        <ion-button shape="round" href="/ejercicio07" routerDirection="forward" expand="full">Ejercicio 7</ion-button>
      </ion-col>
  
    </ion-row>
</ion-content>